.nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 3;
    font-family: "VT323", monospace;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.48) 99%, rgba(0, 0, 0, 0.36) 82%);
}

.nav img {
    width: 40px;
}

.nav a  {
    color: #FFF;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    text-align: center;
    align-items: center;
}

.nav a.active  {
    animation: floating 3s ease-in-out infinite;
}

.nav a.active small  {
    color: #CEA3F7;
}

.nav img:hover {
  transition: ease-in-out .5s;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 5px);
    }
    100% {
        transform: translate(0, 0px);
    }
}

@media (min-width: 1024px) {
  .nav {
    flex-direction: column;
    height: 100vh;
    padding: 10px 0 10px 20px;
    width: auto;
    background: transparent;
  }
  .nav img {
     width: 75px;
   }
}